h1{
    color: aquamarine;
    font-size: medium;
}
img{
    border-top-width:10px;
    border-bottom-width: 5px;
    border-left-width: 25px;
    border-right-width: 15px;
    border-style: groove;
    border: 2px solid ;
}
p{
    border-top-color: rebeccapurple;
    border-bottom-color: yellowgreen;
    border-right-color: blue;
    border-left-color: brown;
    border-top-width:10px;
    border-bottom-width: 5px;
    border-left-width: 25px;
    border-right-width: 15px;
    border-style: dashed;   
}
.jk{
    border-top-color: rebeccapurple;
    border-bottom-color: yellowgreen;
    border-right-color: blue;
    border-left-color: brown;


    border-top-width:10px;
    border-bottom-width: 5px;
    border-left-width: 25px;
    border-right-width: 15px;
      
    border-top-style: groove;
    border-right-style:   ;
    border-left-style: double;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    width:fit-content;
    height: 500svh;
    font-size: 20;
    padding: 20px;
}                                    
#r{
    color: chartreuse ;
    font-size: 20;
}
.frist{
    color: rgb(32, 135, 135);
}
.second{
    background-color: black;
}
.sai{
    background-color: rgb(247, 245, 245);
    color: brown;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-size: 50px;
}
.parent{
    width: 100%;
    border: 50px solid black;
    padding: 50px;
    margin: 50px;
    text-align: centre;
}
.teja {
    border: 2px solid red;
    padding: 30px;
    width: 500px;
    height: 500px;
}
.child{
    /* border: 2px solid rgb(192, 192, 192); */
     margin-left: 200px; 
    /* margin-top: 150px; */
    
    width: 150px;
    height: 250px;
    /* border-radius:  500px; */
    /* box-shadow: 1px 1px rgb(15, 15, 15); */
}
img{
    width: 100%;
    height: 100%;
    border-radius: 500px;
}